<a href="https://colab.research.google.com/github/jmgang/CPUScheduling/blob/main/Sprint1Deliverable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Activity Prompt 1: Project Introduction and Methodology
1. Examine the given data and conduct research on related literature about the topic. List down the characteristics of the dataset (size, data types, variables, presence of null values) and the key insights from the literature review. Provide references for each source of information.
2. Formulate research questions based on the observations and the problem that the group wants to solve. Write it in the first column of the table.
3. List all the needed information from the dataset and from literature review to answer the research question. Specify also the information that are needed but are not available or not found in the data or literature (limitations). Write them in the second column of the table.
4. Identify possible bias and sources of error for each research question and limitation. Write them in the third column of the table.
5. Based on this, identify the scope and limitation of the project. Write a brief summary in the fourth column of the table.

### Questions formulated
1. How much is the total amount of transaction per account holder?
2. How much is the total amount of transaction per other attributes?
  - Date of birth format? Job structure? Specialization? Company? Relationship between 2 acc numbers?
3. How much is the total transaction amount per city? How does it relate to city population?
4. What are the spending habits between urban and rural cities?
  - How to identify urban and rural?
5. What is the mean and median amount spent by customers spent in the past n datetime?
  - UNIX time convert to time to check time series
6. Are there any outliers in the transactions?
7. Saan tayo mas gumagastos (category)? (review)

## Activity Prompt 2: Python Notebook Setup and Dataset Description
1. Create a new Python notebook for your project.
2. Use Python and pandas to load the relevant datasets into your notebook.
3. Examine the dataset and describe its basic features, such as the number of rows and columns, and the types of data.
4. Name and define some of the variables in the dataset if there any other new details worth mentioning.
5. Identify any issues or limitations of the dataset, such as missing values or encoding errors.
6. Create a slide to present your dataset description, including its source, size, structure, variables, and quality.

In [65]:
# from google.colab import drive
import pandas as pd
# drive.mount('/content/drive')
# DIRECTORY = '/content/drive/MyDrive/Colab Notebooks/Sprint 1/'
# df = pd.read_csv(DIRECTORY + 'cc_dirty.csv',  encoding='ISO-8859-1')
DATA = 'https://raw.githubusercontent.com/jabbbyyy/esk-datasets/main/cc_fraud_dirty.csv'
df = pd.read_csv(DATA)

In [66]:
df

,cc_num,gender,city,city_pop,job,dob,acct_num,acct_num2,trans_num,unix_time,category,amt
0,6.760000e+11,M,Dasmarinas,"659,019 people",Chartered loss adjuster,12/12/1958,798000000000,798000000000,a72eaa86b043eed95b25bbb25b3153a1,1581314011,shopping_net,$68.88
1,3.520000e+15,M,Digos,"169,393 people","Administrator, charities/voluntary organisations",31/08/1970,968000000000,968000000000,060d12f91c13871a13963041736a4702,1590902968,entertainment,$50.06
2,4.140000e+18,Male,Calapan,"133,893 people",Financial controller,23/07/1953,628000000000,628000000000,18aafb6098ab0923886c0ac83592ef8d,1585461157,food_dining,$105.44
3,4.870000e+15,M,San Fernando,"121,812 people",NaN,18/07/1964,863000000000,863000000000,45bbe714e51ab8a375454d39a190b0cb,1613063704,food_dining,$38.61
4,4.720000e+15,M,Laoag,"111,125 people",Dance movement psychotherapist,11/01/1954,257000000000,257000000000,c20ee88b451f637bc6893b7460e9fee0,1601282159,gas_transport,$82.69
...,...,...,...,...,...,...,...,...,...,...,...,...
111872,4.620000e+15,M,San Fernando,"121,812 people",Personnel officer,20/11/1934,555000000000,555000000000,6ced184c93e66028e8d235ad3060de90,1625341374,personal_care,$31.37
111873,3.710000e+14,F,Maasin,"85,560 people",NaN,18/04/1966,994000000000,994000000000,0d1facd7a2af816a6fbb404a8ad6d77a,1630115183,grocery_pos,$83.14
111874,4.430000e+15,M,General Santos,"594,446 people",NaN,26/06/1960,319000000000,319000000000,599d3eec9b385473aa3791b620691416,1636919758,home,$74.76
111875,3.800000e+13,M,City of Isabela,"112,788 people",Sport and exercise psychologist,04/03/1967,378000000000,378000000000,67f47400873e964e10e029050dbe1fee,1605863062,shopping_pos,$3.27
111876,4.140000e+18,Male,Calapan,"133,893 people",Financial controller,23/07/1953,628000000000,628000000000,17f64caa57245f21fb86f04788af0296,1592849225,kids_pets,$63.80

In [67]:
df.dtypes

cc_num       float64
gender        object
city          object
city_pop      object
job           object
dob           object
acct_num       int64
acct_num2      int64
trans_num     object
unix_time      int64
category      object
amt           object
dtype: object

In [68]:
df_copy = df.copy()

In [69]:
df_copy['dob'] = pd.to_datetime(df_copy['dob'], format='%d/%m/%Y')

In [70]:
display(df_copy)

,cc_num,gender,city,city_pop,job,dob,acct_num,acct_num2,trans_num,unix_time,category,amt
0,6.760000e+11,M,Dasmarinas,"659,019 people",Chartered loss adjuster,1958-12-12,798000000000,798000000000,a72eaa86b043eed95b25bbb25b3153a1,1581314011,shopping_net,$68.88
1,3.520000e+15,M,Digos,"169,393 people","Administrator, charities/voluntary organisations",1970-08-31,968000000000,968000000000,060d12f91c13871a13963041736a4702,1590902968,entertainment,$50.06
2,4.140000e+18,Male,Calapan,"133,893 people",Financial controller,1953-07-23,628000000000,628000000000,18aafb6098ab0923886c0ac83592ef8d,1585461157,food_dining,$105.44
3,4.870000e+15,M,San Fernando,"121,812 people",NaN,1964-07-18,863000000000,863000000000,45bbe714e51ab8a375454d39a190b0cb,1613063704,food_dining,$38.61
4,4.720000e+15,M,Laoag,"111,125 people",Dance movement psychotherapist,1954-01-11,257000000000,257000000000,c20ee88b451f637bc6893b7460e9fee0,1601282159,gas_transport,$82.69
...,...,...,...,...,...,...,...,...,...,...,...,...
111872,4.620000e+15,M,San Fernando,"121,812 people",Personnel officer,1934-11-20,555000000000,555000000000,6ced184c93e66028e8d235ad3060de90,1625341374,personal_care,$31.37
111873,3.710000e+14,F,Maasin,"85,560 people",NaN,1966-04-18,994000000000,994000000000,0d1facd7a2af816a6fbb404a8ad6d77a,1630115183,grocery_pos,$83.14
111874,4.430000e+15,M,General Santos,"594,446 people",NaN,1960-06-26,319000000000,319000000000,599d3eec9b385473aa3791b620691416,1636919758,home,$74.76
111875,3.800000e+13,M,City of Isabela,"112,788 people",Sport and exercise psychologist,1967-03-04,378000000000,378000000000,67f47400873e964e10e029050dbe1fee,1605863062,shopping_pos,$3.27
111876,4.140000e+18,Male,Calapan,"133,893 people",Financial controller,1953-07-23,628000000000,628000000000,17f64caa57245f21fb86f04788af0296,1592849225,kids_pets,$63.80

In [71]:
df_copy['city_pop'] = df_copy['city_pop'].str.replace('people', '').str.replace(',', '')

In [72]:
df_copy['city_pop'] = pd.to_numeric(df_copy['city_pop'])

In [73]:
display(df_copy['city_pop'])

0         659019
1         169393
2         133893
3         121812
4         111125
           ...
111872    121812
111873     85560
111874    594446
111875    112788
111876    133893
Name: city_pop, Length: 111877, dtype: int64

In [74]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111877 entries, 0 to 111876
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cc_num     111877 non-null  float64
 1   gender     111877 non-null  object
 2   city       111877 non-null  object
 3   city_pop   111877 non-null  int64
 4   job        103427 non-null  object
 5   dob        111877 non-null  datetime64[ns]
 6   acct_num   111877 non-null  int64
 7   acct_num2  111877 non-null  int64
 8   trans_num  111877 non-null  object
 9   unix_time  111877 non-null  int64
 10  category   103318 non-null  object
 11  amt        111877 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 10.2+ MB

In [75]:
display(df_copy['gender'])

0            M
1            M
2         Male
3            M
4            M
          ...
111872       M
111873       F
111874       M
111875       M
111876    Male
Name: gender, Length: 111877, dtype: object

In [76]:
df_copy['gender'].unique()

array(['M', 'Male', 'F', 'Female'], dtype=object)

In [77]:
df_copy['gender'] = df_copy['gender'].replace({'M' : 'Male', 'F' : 'Female'})

In [78]:
display(df_copy)

,cc_num,gender,city,city_pop,job,dob,acct_num,acct_num2,trans_num,unix_time,category,amt
0,6.760000e+11,Male,Dasmarinas,659019,Chartered loss adjuster,1958-12-12,798000000000,798000000000,a72eaa86b043eed95b25bbb25b3153a1,1581314011,shopping_net,$68.88
1,3.520000e+15,Male,Digos,169393,"Administrator, charities/voluntary organisations",1970-08-31,968000000000,968000000000,060d12f91c13871a13963041736a4702,1590902968,entertainment,$50.06
2,4.140000e+18,Male,Calapan,133893,Financial controller,1953-07-23,628000000000,628000000000,18aafb6098ab0923886c0ac83592ef8d,1585461157,food_dining,$105.44
3,4.870000e+15,Male,San Fernando,121812,NaN,1964-07-18,863000000000,863000000000,45bbe714e51ab8a375454d39a190b0cb,1613063704,food_dining,$38.61
4,4.720000e+15,Male,Laoag,111125,Dance movement psychotherapist,1954-01-11,257000000000,257000000000,c20ee88b451f637bc6893b7460e9fee0,1601282159,gas_transport,$82.69
...,...,...,...,...,...,...,...,...,...,...,...,...
111872,4.620000e+15,Male,San Fernando,121812,Personnel officer,1934-11-20,555000000000,555000000000,6ced184c93e66028e8d235ad3060de90,1625341374,personal_care,$31.37
111873,3.710000e+14,Female,Maasin,85560,NaN,1966-04-18,994000000000,994000000000,0d1facd7a2af816a6fbb404a8ad6d77a,1630115183,grocery_pos,$83.14
111874,4.430000e+15,Male,General Santos,594446,NaN,1960-06-26,319000000000,319000000000,599d3eec9b385473aa3791b620691416,1636919758,home,$74.76
111875,3.800000e+13,Male,City of Isabela,112788,Sport and exercise psychologist,1967-03-04,378000000000,378000000000,67f47400873e964e10e029050dbe1fee,1605863062,shopping_pos,$3.27
111876,4.140000e+18,Male,Calapan,133893,Financial controller,1953-07-23,628000000000,628000000000,17f64caa57245f21fb86f04788af0296,1592849225,kids_pets,$63.80

In [79]:
df_copy['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [80]:
df_copy['trans_timestamp'] = pd.to_datetime(df_copy['unix_time'], unit='s')
display(df_copy['trans_timestamp'])

0        2020-02-10 05:53:31
1        2020-05-31 05:29:28
2        2020-03-29 05:52:37
3        2021-02-11 17:15:04
4        2020-09-28 08:35:59
                 ...
111872   2021-07-03 19:42:54
111873   2021-08-28 01:46:23
111874   2021-11-14 19:55:58
111875   2020-11-20 09:04:22
111876   2020-06-22 18:07:05
Name: trans_timestamp, Length: 111877, dtype: datetime64[ns]

In [81]:
df_copy.dtypes

cc_num                    float64
gender                     object
city                       object
city_pop                    int64
job                        object
dob                datetime64[ns]
acct_num                    int64
acct_num2                   int64
trans_num                  object
unix_time                   int64
category                   object
amt                        object
trans_timestamp    datetime64[ns]
dtype: object

In [82]:
df_copy['trans_timestamp'].min(), df_copy['trans_timestamp'].max()

(Timestamp('2020-01-01 00:06:15'), Timestamp('2021-12-06 23:50:42'))

In [83]:
df_copy['amt'] = df_copy['amt'].replace('\$', '', regex=True)
display(df_copy['amt'])

0          68.88
1          50.06
2         105.44
3          38.61
4          82.69
           ...
111872     31.37
111873     83.14
111874     74.76
111875      3.27
111876     63.80
Name: amt, Length: 111877, dtype: object

In [84]:
df_copy['amt'] = pd.to_numeric(df_copy['amt'])
display(df_copy['amt'])

0          68.88
1          50.06
2         105.44
3          38.61
4          82.69
           ...
111872     31.37
111873     83.14
111874     74.76
111875      3.27
111876     63.80
Name: amt, Length: 111877, dtype: float64

In [85]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111877 entries, 0 to 111876
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   cc_num           111877 non-null  float64
 1   gender           111877 non-null  object
 2   city             111877 non-null  object
 3   city_pop         111877 non-null  int64
 4   job              103427 non-null  object
 5   dob              111877 non-null  datetime64[ns]
 6   acct_num         111877 non-null  int64
 7   acct_num2        111877 non-null  int64
 8   trans_num        111877 non-null  object
 9   unix_time        111877 non-null  int64
 10  category         103318 non-null  object
 11  amt              111877 non-null  float64
 12  trans_timestamp  111877 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(4), object(5)
memory usage: 11.1+ MB

In [86]:
df_copy[(df_copy['acct_num'] != df_copy['acct_num2'])]

Empty DataFrame
Columns: [cc_num, gender, city, city_pop, job, dob, acct_num, acct_num2, trans_num, unix_time, category, amt, trans_timestamp]
Index: []

In [87]:
df_copy = df_copy.drop(['acct_num2'], axis=1)

In [88]:
df_copy.columns

Index(['cc_num', 'gender', 'city', 'city_pop', 'job', 'dob', 'acct_num',
       'trans_num', 'unix_time', 'category', 'amt', 'trans_timestamp'],
      dtype='object')

In [89]:
sorted(df_copy['city'].unique())

['Angeles City',
 'Antipolo',
 'Bacolod',
 'Balanga',
 'Batangas',
 'Binan',
 'Butuan',
 'Cabanatuan City',
 'Cadiz',
 'Calapan',
 'Caloocan City',
 'Cebu City',
 'City of Calamba',
 'City of Isabela',
 'City of Paranaque',
 'Dagupan City',
 'Dasmarinas',
 'Digos',
 'Dipolog',
 'Dumaguete City',
 'General Santos',
 'Iligan',
 'Iloilo',
 'Imus',
 'Laoag',
 'Legazpi City',
 'Lipa City',
 'Lucena',
 'Maasin',
 'Makati City',
 'Malabon',
 'Malaybalay',
 'Mandaluyong City',
 'Manila',
 'Marikina City',
 'Masbate',
 'Mati',
 'Meycauayan',
 'Muntinlupa City',
 'Naga City',
 'Navotas',
 'Olongapo',
 'Pagadian',
 'Palayan City',
 'Puerto Princesa',
 'San Fernando',
 'San Jose del Monte',
 'San Juan',
 'San Pedro',
 'Santa Rosa',
 'Santiago',
 'Sorsogon',
 'Surigao',
 'Tacloban',
 'Tagbilaran City',
 'Talisay',
 'Tuguegarao',
 'Valenzuela',
 'Vigan']

In [90]:
df_copy.groupby('acct_num')['amt'].sum()

acct_num
3843260959      162001.74
20386303916      10733.32
24058295524       7590.51
34614744133      55873.15
38399733986      60793.88
                  ...
968000000000    153034.56
969000000000     51579.28
971000000000    171737.74
989000000000     56716.71
994000000000    101051.81
Name: amt, Length: 89, dtype: float64

In [91]:
df_copy.pivot_table(index='acct_num', aggfunc={'amt' :'sum'})

                    amt
acct_num
3843260959    162001.74
20386303916    10733.32
24058295524     7590.51
34614744133    55873.15
38399733986    60793.88
...                 ...
968000000000  153034.56
969000000000   51579.28
971000000000  171737.74
989000000000   56716.71
994000000000  101051.81

[89 rows x 1 columns]

In [92]:
df_copy['gender'].value_counts()

Male      105528
Female      6349
Name: gender, dtype: int64

In [93]:
df_copy.groupby('gender')['gender'].count()

gender
Female      6349
Male      105528
Name: gender, dtype: int64

In [95]:
df_copy.groupby(['category', 'gender'])['amt'].agg(['sum', 'mean', 'median', 'std', 'var'])

                             sum        mean  median         std  \
category       gender
entertainment  Female   24120.34   54.325090  20.855   74.528264
               Male    387150.27   51.366627  20.790   76.958261
food_dining    Female   37926.23   78.685124  69.440   47.093220
               Male    616818.90   80.451141  70.070   49.976470
gas_transport  Female   40117.01   69.526880  68.790   15.241990
               Male    687211.61   69.219542  68.590   16.032926
grocery_net    Female    9229.80   92.298000  92.795   18.608012
               Male    145268.27   88.362695  87.985   21.085781
grocery_pos    Female   59979.83   94.904794  88.460   39.986764
               Male    929595.94   94.682821  89.470   36.842898
health_fitness Female   13447.53   39.435572  19.750   51.411110
               Male    215004.73   40.566930  21.835   50.156937
home           Female   34748.48   62.050857  47.580   51.819294
               Male    576032.02   60.418714  47.685   49.755340
kids_pets      Female   46940.48   81.071641  71.350   51.433481
               Male    769110.43   79.907577  70.130   49.695648
misc_net       Female    8067.04   43.371183   7.240  100.507269
               Male    277516.87   85.153995   7.980  202.281522
misc_pos       Female   23251.13   59.771542   7.880  149.295135
               Male    393251.66   61.321014   8.170  144.435426
personal_care  Female   20303.26   45.319777  28.440   49.080452
               Male    355589.44   44.914670  28.310   49.862394
shopping_net   Female   29204.45   97.348167   8.260  219.058822
               Male    586225.45  118.885713   8.970  266.150292
shopping_pos   Female   32492.86   53.618581   6.355  170.295775
               Male    598090.06   60.279184   6.480  213.608392
travel         Female    7370.59   30.968866   5.390  207.708222
               Male    319132.14   80.977452   5.620  769.486176

                                 var
category       gender
entertainment  Female    5554.462180
               Male      5922.573887
food_dining    Female    2217.771371
               Male      2497.647533
gas_transport  Female     232.318250
               Male       257.054720
grocery_net    Female     346.258099
               Male       444.610144
grocery_pos    Female    1598.941259
               Male      1357.399122
health_fitness Female    2643.102249
               Male      2515.718331
home           Female    2685.239232
               Male      2475.593816
kids_pets      Female    2645.402929
               Male      2469.657427
misc_net       Female   10101.711150
               Male     40917.813975
misc_pos       Female   22289.037275
               Male     20861.592151
personal_care  Female    2408.890741
               Male      2486.258369
shopping_net   Female   47986.767461
               Male     70835.977953
shopping_pos   Female   29000.650929
               Male     45628.545007
travel         Female   43142.705494
               Male    592108.975571

In [62]:
df_copy['category'].isna().sum()

8559

In [99]:
df_copy[df_copy['category'].isna()].groupby(['gender'])['amt'].agg(['sum', 'mean', 'median'])

              sum       mean  median
gender
Female   30900.58  66.168266   51.64
Male    571036.09  70.567979   48.60

In [101]:
df_copy[df_copy['category'].isna()][['category', 'amt']].describe()

              amt
count  8559.00000
mean     70.32792
std     149.24781
min       1.00000
25%       8.82000
50%      48.71000
75%      84.94500
max    4710.72000

In [103]:
df_copy['category'].value_counts()[:5] # Getting the top 5 most frequent category

shopping_pos     10528
gas_transport    10505
grocery_pos      10450
kids_pets        10204
home             10094
Name: category, dtype: int64

In [63]:
df_copy['gender'] = df_copy['gender'].replace({'M' : 'Male', 'F' : 'Female'})

In [64]:
df_copy['city_pop'] = pd.to_numeric(df_copy['city_pop'].str.replace('people', '').str.replace(',', ''))

AttributeError: ignored

In [ ]:
df_copy['transaction_timestamp'] = pd.to_datetime(df_copy['unix_time'], unit='s')

In [ ]:
display(df_copy['transaction_timestamp'])

In [ ]:
df_copy['city'].unique()

In [ ]:
df_copy.isna().sum()

In [ ]:
df_copy['category'] = df_copy['category'].fillna('none')

In [ ]:
df_copy['category'].value_counts()

In [ ]:
df_copy['job'] = df_copy['job'].fillna('Unknown/Unemployed')

In [ ]:
display(df_copy)

In [ ]:
df_copy['amt'] = pd.to_numeric(df_copy['amt'].str.replace('$', '').str.strip())
display(df_copy)

In [ ]:
df_copy['gender'] = df_copy['gender'].astype('category')
df_copy['city'] = df_copy['city'].astype('category')

In [ ]:
df_copy.info()

In [ ]:
display(df_copy)

In [ ]:
df_copy['acct_num'].equals(df_copy['acct_num2'])

In [ ]:
df_copy.drop(['acct_num2'], inplace=True, axis=1)

In [ ]:
df_copy.drop(['unix_time'], inplace=True, axis=1)

In [ ]:
df_copy[df_copy.job.str.contains(',')]

In [ ]:
display(df_copy)

## EDA

In [ ]:
df_copy.groupby('city')['amt'].agg(['mean', 'median', 'std', 'max', 'min'])

In [ ]:
df_copy.groupby('cc_num')['amt'].agg(['count', 'sum', 'mean', 'median', 'std', 'max', 'min'])